<script id="filterMenuTemplate" type="text/template">
  <li class="popover_subsection">
    <div class="popover_header">
      Filter
    </div>
    <ul class="popover_menu_list">
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="text">
          <i class="popover_menu_item_anchor_icon icon_post_text"></i>
          Text
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="photo">
          <i class="popover_menu_item_anchor_icon icon_post_photo"></i>
          Photos
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="quote">
          <i class="popover_menu_item_anchor_icon icon_post_quote"></i>
          Quotes
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="link">
          <i class="popover_menu_item_anchor_icon icon_post_link"></i>
          Link
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="chat">
          <i class="popover_menu_item_anchor_icon icon_post_chat"></i>
          Chat
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="audio">
          <i class="popover_menu_item_anchor_icon icon_post_audio"></i>
          Audio
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="video">
          <i class="popover_menu_item_anchor_icon icon_post_video"></i>
          Video
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="answer">
          <i class="popover_menu_item_anchor_icon help-icon"></i>
          Answer
        </a>
      </li>
      <!-- <li class="popover_menu_item">
        <a class="popover_menu_item_anchor" href="#">
          <i class="popover_menu_item_anchor_icon like-icon"></i>
          Likes
        </a>
      </li>
      <li class="popover_menu_item">
        <a class="popover_menu_item_anchor" href="#">
          <i class="popover_menu_item_anchor_icon icon_user_settings"></i>
          Users
        </a>
      </li> -->
    </ul>
  </li>
</script>
