<li class="popover_subsection">
  <div class="popover_header">
    Filter
  </div>
  <ul class="popover_menu_list search_filter_items" <%= Tumblr.Fox.state.get('disabled') ? 'style="opacity: 0.6"' : '' %>>
    <% var items = [
        { item: 'any', icon: 'icon_posts' },
        { item: 'text', icon: 'icon_post_text' },
        { item: 'photo', icon: 'icon_post_photo' },
        { item: 'quote', icon: 'icon_post_quote' },
        { item: 'link', icon: 'icon_post_link' },
        { item: 'chat', icon: 'icon_post_chat' },
        { item: 'audio', icon: 'icon_post_audio' },
        { item: 'video', icon: 'icon_post_video' },
        { item: 'answer', icon: 'help-icon' }
      ]; %>
    <% _.map(items, function (i) { %>
      <li class="popover_menu_item" data-js-menu-item="<%- i.item %>">
        <span class="popover_menu_item_anchor" data-js-menu-item-link="<%- i.item %>">
          <i class="icon icon_checkmark" data-check="<%- i.item %>"></i>
          <i class="popover_menu_item_anchor_icon <%- i.icon %>"></i>
          <%- _.capitalize(i.item) %>
        </a>
      </li>
    <% }); %>
  </ul>
</li>
