<script id="filterMenuTemplate" type="text/template">
  <li class="popover_subsection">
    <div class="popover_header">
      Filter
    </div>
    <ul class="popover_menu_list search_filter_items">
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="any">
          <i class="popover_menu_item_anchor_icon icon_home"></i>
          All
          <i class="icon icon_checkmark" style="float: right" data-check="any"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="text">
          <i class="popover_menu_item_anchor_icon icon_post_text"></i>
          Text
          <i class="icon icon_checkmark" style="float: right" data-check="text"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="photo">
          <i class="popover_menu_item_anchor_icon icon_post_photo"></i>
          Photos
          <i class="icon icon_checkmark" style="float: right" data-check="photo"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="quote">
          <i class="popover_menu_item_anchor_icon icon_post_quote"></i>
          Quotes
          <i class="icon icon_checkmark" style="float: right" data-check="quote"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="link">
          <i class="popover_menu_item_anchor_icon icon_post_link"></i>
          Link
          <i class="icon icon_checkmark" style="float: right" data-check="link"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="chat">
          <i class="popover_menu_item_anchor_icon icon_post_chat"></i>
          Chat
          <i class="icon icon_checkmark" style="float: right" data-check="chat"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="audio">
          <i class="popover_menu_item_anchor_icon icon_post_audio"></i>
          Audio
          <i class="icon icon_checkmark" style="float: right" data-check="audio"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="video">
          <i class="popover_menu_item_anchor_icon icon_post_video"></i>
          Video
            <i class="icon icon_checkmark" style="float: right" data-check="video"></i>
        </a>
      </li>
      <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="answer">
          <i class="popover_menu_item_anchor_icon help-icon"></i>
          Answer
          <i class="icon icon_checkmark" style="float: right" data-check="answer"></i>
        </a>
      </li>
      <!-- <li class="popover_menu_item" data-js-menu-item>
        <a class="popover_menu_item_anchor" href="#" data-js-menu-item-link="likes">
          <i class="popover_menu_item_anchor_icon like-icon"></i>
          Likes
          <i class="icon icon_checkmark" style="float: right" data-check="likes"></i>
        </a>
      </li> -->
    </ul>
  </li>
</script>
