<script id="cacheTemplate" type="text/javascript">
  <h1 class="cache-header" data-tooltip-key="caching">Cache*</h1>
  <p class="likes">Likes: <span id="cachedPostsCount"></span> out of <span id="totalPostsCount"></span><button id="cacheLikes">Cache likes</button></p>
  <p class="following">Following: <span id="cachedFollowingCount"></span> out of <span id="totalFollowingCount"></span><button id="cacheFollowing">Cache following</button></p>
  <p class="tags">Tags: <span id="cachedTagsCount"></span></p>
</script>
