<h1>Experimental</h1>
<div class="input-option">
  <label data-tooltip-key="autoCacheLikes">
    Automatically cache likes*:
  </label>
  <input type="checkbox" id="autoCacheLikes" <% if(autoCacheLikes) { %> <%= checked="checked" %> <% } %>>
</div>
<div class="input-option">
  <label data-tooltip-key="autoCacheUserPosts">
    Automatically cache user posts*:
  </label>
  <input type="checkbox" id="autoCacheUserPosts" <% if(autoCacheUserPosts) { %> <%= checked="checked" %> <% } %>>
</div>
<div class="input-option">
  <label data-tooltip-key="saveViaFirebase">
    Save cache via Firebase*:
  </label>
  <input type="checkbox" id="saveViaFirebase" <% if(saveViaFirebase) { %> <%= checked="checked" %> <% } %>>
</div>
