<script id="experimentalTemplate" type="text/javascript">
  <h1>Experimental</h1>
  <div class="input-option">
    <label data-tooltip-key="clientCaching">
      Cache likes via client*:
    </label>
    <input type="checkbox" id="clientCaching" checked="false">
  </div>
  <div class="input-option">
    <label data-tooltip-key="fullTextSearch">
      Enable full text search*:
    </label>
    <input type="checkbox" id="fullTextSearch" checked="false">
  </div>
  <div class="input-option">
    <label data-tooltip-key="saveViaFirebase">
      Save cache via Firebase*:
    </label>
    <input type="checkbox" id="saveViaFirebase" checked="false">
  </div>
</script>
